<head>
  <link href="news/styles.css" rel="stylesheet">
</head>
<head>
  <link href="news/styles.css" rel="stylesheet">
</head>
<h1>myNASDAQ</h1>
<div ng-controller="LoginController as vm" ng-init="vm.init()">
  <p ng-if="vm.isLoggedIn()"> Hello, {{ vm.loggedInUser }}</p>
</div>

<div>
    <form name="symbol" ng-submit="vm.stocksGetOne(); _addQuery()">
     
       <label for="symbols">Search for Company by Stock Symbol:</label>
          <input type="text" name="symbol" ng-model="vm.symbol" placeholder="Stock Symbol">
      <!--<div ng-show="vm.stockForm.quote.$dirty && vm.stockForm.quote.$invalid && vm.isSubmitted">-->
      <!--  <p>Stock Symbol must be capitalized.</p>-->
      <!--  </div>-->
      <button type="submit" class="btn btn-success">Get Stock Quote</button>
    </form>
</div> 
      <br>
  <!--<!--<div ng-controller="QueriesController as vm">   -->
      <label for="queries">Search History for Companies by Stock Symbol:</label>
        <ul ng-model="vm.postSearch">
          <li dir-paginate="symbol in symbols | filter: symbol | itemsPerPage: 10">...<a ng-href="#!/company/{{ company.Symbol }}">{{ company.Symbol }} - {{ company.Name }}</a></li>
          <!--<li ng-repeat="Symbol in vm.symbols | filter: search"> {{vm.companies.Symbols}}</li>-->
        </ul>
  </div> 

    <div class="container" id="content">
        <h1> Get Top Headlines</h1>
        <form id="source">
            <p>Select a source</p>
            <div class="form-group">
                <select id="selection">
                    
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
        <div id="news" class="container-fluid">
            
            </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="news/keys.js"></script>
    <script src="news/index.js"></script>
