<h1>myNASDAQ</h1>

<div ng-if="vm.isLoggedIn()">
<p> Hello, {{ vm.loggedInUser }}</p>
</div>


<div>
    <form name="symbol" ng-submit="vm.stocksGetOne()">
     
       <label for="symbols">Search for Company by Stock Symbol:</label>
          <input type="text" name="symbol" ng-model="vm.symbol" placeholder="Stock Symbol">
      <!--<div ng-show="vm.stockForm.quote.$dirty && vm.stockForm.quote.$invalid && vm.isSubmitted">-->
      <!--  <p>Stock Symbol must be capitalized.</p>-->
      <!--  </div>-->
      <button type="submit" class="btn btn-success">Get Stock Quote</button>
        <ul>
          <li dir-paginate="item in collection | filter: Symbol | itemsPerPage: 10">...<a ng-href="#!/company/{{ company.Symbol }}">{{ company.Symbol }} - {{ company.Name }}</a></li>
          <!--<li ng-repeat="Symbol in vm.symbols | filter: search"> {{vm.companies.Symbols}}</li>-->
        </ul>
    </form>
</div> 

<div class="container" id="adSpace">
    <p> Your ad here </p>
    <p> 1-800-Ad-SPACE</p>
</div>