<h1>{{ vm.company.Name }}</h1>
<h2>Symbol: {{vm.company.Symbol}} </h2>
<h3>Last Sale: {{ vm.company.LastSale }}</h3>

<p><large></large></p>

<p>market cap: {{ vm.company.MarketCap }}</p>
<p>{{ vm.company.ADRTSO }}</p>
<p>IPO year: {{ vm.company.IPOyear }}</p>
<p>Sector: {{ vm.company.Sector }}</p>
<p>Industry: {{ vm.company.Industry }}</p>
<p>Click symbol for Link to more info: <a href="{{ vm.company['Summary Quote'] }}" target="_blank">{{ vm.company.Symbol }}</a></p>
<p>{{ vm.company.FIELD10 }}</p>

<button type="submit" class="btn">Buy Stock</button> 

<button type="submit" class="btn">Sell Stock</button>

<!--<h3>Orders</h3>-->
<!--<ul>-->
<!--  <li ng-repeat="order in vm.company.orders"> <strong>{{ order.orderType }} executed:</strong> {{ order.orderTimestamp }}</li>-->
<!--</ul>-->

<!--<form name="vm.orderForm" ng-submit="vm.addOrder()">-->
<!--  Shares: <input type="number" name="shares" required ng-minlength="2" ng-model="vm.shares">-->
<!--  <div ng-show="vm.orderForm.name.$dirty && vm.orderForm.name.$invalid && vm.isSubmitted">-->
<!--    <p>Shares should be more than 10</p>-->
<!--  </div>-->

<!--  Price: <input type="number" name="price" required ng-pattern="/^[1-5000]$/" ng-model="vm.price">-->
<!--  <div ng-show="vm.orderForm.rating.$dirty && vm.orderForm.rating.$invalid && vm.isSubmitted">-->
<!--    <p>Price must be between 1-5000.</p>-->

<!--  </div>-->

<!--  Order Type: <textarea name="orderType" required ng-model="vm.orderType"></textarea>-->
<!--  <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">-->
<!--    <p>Please request Market or Limit order</p>-->
<!--  </div>-->

<!--  <button type="submit" class="btn">Execute Order</button>-->
<!--</form>-->

